# Banco de Dados
DB_URL=jdbc:postgresql://172.17.0.2:5432/hourly_pay_tracker
DB_USERNAME=postgres
DB_PASSWORD=user1232025

# Chave secreta para JWT/autenticação
SECRET=qwertyuiopasdfghjklczxcvbnmqwert